<div class="row">
  <div class="col-12">
    <select class="pull-right" [(ngModel)]="viewCount" (ngModelChange)="changeViewMovie();">
      <option value="5">5</option>
      <option value="9">9</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
  </div>
  <div class="col-12 text-center">
    <div *ngIf="message" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Upsss!!!</strong> {{message}}
      <button (click)="message = '';" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <button type="button" class="btn btn-default btn-sm" [routerLink]="['/home']">Populares</button>
    <button type="button" class="btn btn-default btn-sm" [routerLink]="['/home/G']">Niños</button>
    <button type="button" class="btn btn-default btn-sm" [routerLink]="['/home/now']">En Teatros</button>
  </div>
</div>
<div *ngIf="movies.length > 0" [@listAnimation]="movies.length" class="row uk-grid">
  <div *ngFor="let movie of movies"
    class="col-4 uk-row-first mt5">
    <div class="md-card pointer mb10" [routerLink]="['/detail', movie.id]">
      <div class="md-card-content container pr0 pl0">
        <div>
          <img width="100%" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" alt="{{movie.poster_path}}">
          <div class="overlay text-center">
            <h3>Popularidad: {{movie.popularity}}</h3>
            <h4>Votos: {{movie.vote_count}}</h4>
          </div>
        </div>
        <div class="uk-float-right uk-margin-top uk-margin-small-right"><span class="peity_visitors peity_data"
            style="display: none;">5,3,9,6,5,9,7</span>
        </div>
        <p title="{{movie.original_title}}" class="mt5 mb0 pb0 pt0 text-ellipsis">
          <span>{{movie.original_title}}</span>
        </p>
        <span class="uk-text-muted uk-text-small">Fecha de lanzamiento:
          {{ movie.release_date | date: 'medium'}}</span>
        <span class="pull-right">{{movie.vote_average}}</span>
      </div>
    </div>
  </div>
  <!-- <div class="col-12 text-center">
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="objectMovie.total_pages" [maxSize]="25"
      [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
  </div> -->

</div>
<div *ngIf="movies.length === 0">
  Cargando...
</div>
